/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

img {
    max-width: 100%;
}

.small-button {
    padding: 6px 10px;
    border-radius: 25px;
}

.big-button {
    padding: 10px 15px;
    border-radius: 25px;
}

.title {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.subtitle {
    /* font-size: 1.1rem; */
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

/* HEADER */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* header nav */
.menu {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;

    /* debug
    background-color: #ADD8E6; */
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
}

.list {
    width: 45%;
    display: flex;
    justify-content: space-around;
    /* gap: 50px; */
}


ul.list li {
    list-style-type: none;
    color: white;
}

.white {
    background-color: white;
}

.login {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

/* rest of header */

.second-header {
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* debug
    background-color: #00008B; */
}

.jumbotron {
    text-align: center;
    color: white;
    text-align: center;

    /* debug
    background-color: #EE82EE;
    border: 1px dashed black; */
}

.subtitle {
    padding: 20px 5px;
    line-height: 1.5rem;
}

.download {
    background-color: white;
    color: black;
    display: inline-block;
    margin-right: 1rem;
}

.open {
    background-color: #23272A;
    display: inline-block;
}

/* MAIN */


.square {
    width: 35%;
}

.white {
    /* debug */
    background-color: white;
}

.gray {
    /* debug */
    background-color: #D3D3D3;
}


.photo {
    width: 65%;
    padding: 10px;
}

.sections {
    display: flex;
    padding: 70px 0;
}

.paragraph {
    line-height: 1.3rem;
}


/* section 2 */
.second-square {
    padding: 20px 0;
}

/* section 4 */

.fourth {
    text-align: center;
}

.adventure {
    background-image: url(../img/stars.svg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
}

/* FOOTER */
/* footer first part */
.footer-section {
    padding: 50px 0;
    /* debug */
    background-color: #23272A;
    border: 2px solid white;
}

.lightblue {
    color: lightblue;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.ita {
    width: 10%;
    vertical-align: middle;
}

.italian {
    font-size: 0.8rem;
    color: white;
}


.socials {
    padding: 10px 0;
    color: white;
}

ul.first-list li {
    margin-bottom: 10px;
}

.symbol {
    margin-right: 10px;
}

.aqua-column {
    width: calc((100% - 25%) / 4);
    
    /* debug
    background-color: #20B2AA;
    height: 350px;
    border: 1px dashed white; */
}

.pink-column {
    width: 25%;
}
.aqua-column li:first-child {
    color: blue;
}

/* footer second part */

.second-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
}

/* button {
    debug
    border: 1px dashed black;
    padding: 3px;
} */

ul.footer-list li {
    line-height: 2rem;
    color: white;
}

.first-one {
    color: blue;
}

.assistenza {
    margin-bottom: 20px;
}

hr {
    border: 1px solid blue;
    width: 80%;
    margin: 0 auto;
}

.registrati {
    background-color: blue;
}

